nav {
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }
  li {
    list-style-type: none;

    cursor: pointer;
  }
}

.miammi-recipe {
  max-width: 800px;
  margin: 20px auto; // Centrage de la recette
  background-color: #3a3a3a; // Couleur de fond légèrement contrastée
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); // Légère ombre pour du relief
  overflow: hidden;
  padding: 20px;

  h1 {
    font-size: 2rem;
    text-align: center;
    color: #ffd700; // Doré pour un effet festif
    margin-bottom: 10px;
  }

  .intro {
    font-style: italic;
    text-align: center;
    margin-bottom: 20px;
  }

  h2 {
    color: #ff6f61; // Rouge chaleureux pour les titres
    border-bottom: 2px solid #ffd700;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }

  ul,
  ol {
    margin: 0 20px 20px;
    padding: 0;

    li {
      margin: 5px 0;
      padding: 5px;
      background-color: #494949; // Fond contrasté pour chaque élément
      border-radius: 5px;
    }
  }

  .miammi-tips {
    margin: 20px 0;
    padding: 15px;
    background-color: #ff6f61; // Rouge festif
    color: #fff;
    border-left: 5px solid #ffd700; // Accent doré sur le côté
    border-radius: 5px;

    p {
      margin: 0;
      font-style: italic;
      font-size: 0.9rem;
    }
  }

  .presentation {
    text-align: center;
    margin-top: 20px;
    font-size: 1.1rem;
    color: #ffd700; // Doré pour l'effet festif
  }

  .miammi-signoff {
    text-align: center;
    margin-top: 20px;
    font-size: 0.9rem;
    color: #e99f98;
    font-style: italic;
  }

  img {
    display: block;
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    margin: 0 auto;
  }
}
