<<<<<<< HEAD
.proverbes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;

  .proverbe-container {
    background: #2e2e2e;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    }

    .message-text {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .message-date {
      font-size: 0.9rem;
      color: #d0d0d0;
      text-align: right;
    }
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
=======
.proverbes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;

  .proverbe-container {
    background: #2e2e2e;
    color: #ffffff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.5);
    }

    .message-text {
      font-size: 1.2rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .message-date {
      font-size: 0.9rem;
      color: #d0d0d0;
      text-align: right;
    }
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
>>>>>>> afe05af085bf6474cb15d6eaf7a64896e5a8f91a
