version: "3.8"

services:
  db:
    image: mysql:latest
    container_name: bdd_miam_dv
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: miam_dv
      MYSQL_USER: miamdv
      MYSQL_PASSWORD: Acamar70700!
    volumes:
      - db_data:/var/lib/mysql
      - ./backup_miam_dv.sql:/docker-entrypoint-initdb.d/backup_miam_dv.sql
    restart: always
    healthcheck:
      disable: true
    networks:
      - caddy_net

  miamdv:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: miamdv
    depends_on:
      db:
        condition: service_started
    environment:
      DB_HOST: db
      DB_USER: miamdv
      DB_PASSWORD: Acamar70700!
      DB_DATABASE: miam_dv
    volumes:
      - ./uploads:/app/uploads
    restart: always
    networks:
      - caddy_net

volumes:
  db_data:

networks:
  caddy_net:
    external: true
