$color-text: #f1f1f1;
$color-bg: #ffffff;
$color-border: #ddd;
$color-primary: #007bff;
$color-primary-hover: #0056b3;
$shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);

img {
  cursor: pointer;
}

header {
  position: relative;
  padding: 20px;
  background-color: #282c34;

  nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-left: 15px;

      img {
        width: 24px;
        height: 24px;
        display: block;
      }
    }
  }

  h1 {
    margin: 20px 0;
    font-size: 24px;
    color: $color-text;
    text-align: center;
    font-weight: lighter;
  }

  .user-icon {
    cursor: pointer;
    transition: transform 0.2s;

    &:hover {
      transform: scale(1.1);
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal {
  position: absolute;
  top: 50px;
  right: 20px;
  width: 300px;
  background-color: #ffffff;
  border: 2px solid #333333;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 1rem;
  z-index: 100;
  animation: fadeIn 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h1 {
    color: #333333;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
  }

  .modal-option {
    display: flex;
    align-items: center; /* Aligne les icônes et le texte verticalement */
    gap: 0.75rem; /* Ajoute un espacement entre l'icône et le texte */
    padding: 0.75rem;
    border-radius: 6px;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #f8f9fa; /* Couleur d'arrière-plan lors du survol */
      cursor: pointer;
    }

    img {
      width: 24px; /* Taille uniforme pour les icônes */
      height: 24px;
    }

    span {
      color: #333333;
      font-size: 1rem;
      font-weight: 500;
      flex-grow: 1; /* S'assure que le texte reste aligné avec les icônes */

      &:hover {
        color: #007bff;
        text-decoration: none;
      }
    }
  }
}
