<header>
    <nav>
        <ul>
            <li>
                <img (click)="tooglePage('menu')" src="public/svg/house.svg" alt="accueil">
            </li>
            <li>
                <img (click)="tooglePage('recipes-list')" src="public/svg/book.svg" alt="recettes">
            </li>
            <li>
                <img (click)="tooglePage('all-proverbs')" src="public/svg/text-quote.svg" alt="Voir les proverbes">
            </li>
            <li>
                <img (click)="tooglePage('notifs')" class="notif" src="public/svg/bell.svg" alt="notification">
            </li>
            <li>
                <img (click)="tooglePage('palette')" src="public/svg/palette.svg" alt="Personalisation">
            </li>
            <li>
                <img (click)="toggleSettings()" class="user-icon" src="public/svg/user.svg" alt="utilisateur">
            </li>
        </ul>
    </nav>
    <div *ngIf="currentSettings" class="modal">
        <h1>{{ username }}</h1>
        <div (click)="tooglePage('change-password')" class="modal-option">
            <img src="public/svg/password.svg" alt="Changer le mot de passe">
            <span>Changer de mot de passe</span>
        </div>
        <div (click)="tooglePage('change-username')" class="modal-option">
            <img src="public/svg/user-pen.svg" alt="Changer le nom d'utilisateur">
            <span>Changer de nom d'utilisateur</span>
        </div>
        <div (click)="deleteAccount()" class="modal-option">
            <img src="public/svg/delete-account.svg" alt="Supprimer le compte">
            <span>Supprimer le compte</span>
        </div>
        <div (click)="logout()" class="modal-option">
            <img src="public/svg/logout.svg" alt="Déconnexion">
            <span>Déconnexion</span>
        </div>
    </div>




</header>