<app-proverbeajout></app-proverbeajout>
<div class="menu">
    <form [formGroup]="menu" (ngSubmit)="MSubmit()">
        <label for="jours">Jour : </label>
        <select formControlName="jour" id="jours">
            <option value="lundi">Lundi</option>
            <option value="mardi">Mardi</option>
            <option value="mercredi">Mercredi</option>
            <option value="jeudi">Jeudi</option>
            <option value="vendredi">Vendredi</option>
        </select>

        <label for="periode">Période : </label>
        <select formControlName="periode" id="periode">
            <option value="midi">Midi</option>
            <option value="soir">Soir</option>
        </select>

        <label for="entree">Entrée :</label>
        <input type="text" formControlName="entree" id="entree">

        <label for="plat">Plats : </label>
        <input type="text" formControlName="plats" id="plat">

        <label for="accompagnement">Accompagnement :</label>
        <input type="text" formControlName="accompagnement" id="accompagnement">

        <label for="fromage">Fromage :</label>
        <input type="text" formControlName="fromage" id="fromage">

        <label for="dessert">Déssert : </label>
        <input type="text" formControlName="dessert" id="dessert">

        <button type="submit">Envoyer</button>
        <button (click)="vider()">Fin de la semaine</button>
    </form>
    <p>{{ message }}</p>
</div>