<<<<<<< HEAD
.notification-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 25px;
}

.message {
  display: flex;
  align-items: flex-start;
  margin: 5px 0;
  padding: 15px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 500px; // Limite la largeur à 500px pour les grands écrans
  box-sizing: border-box; // Assure que le padding est inclus dans la largeur totale
}

.delete-message-btn {
  margin-left: auto;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.message-author {
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.message-date {
  color: #bbb;
  font-size: 0.85rem;
  margin: 0;
}

.message-text {
  color: #f1f1f1;
  font-size: 0.95rem;
  margin: 0;
}

.deleteAllMessages {
  margin-top: 10px;
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .message,
  .notification-container {
    width: 90vw;
  }
}
=======
.notification-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 25px;
}

.message {
  display: flex;
  align-items: flex-start;
  margin: 5px 0;
  padding: 15px;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  width: 100%;
  max-width: 500px; // Limite la largeur à 500px pour les grands écrans
  box-sizing: border-box; // Assure que le padding est inclus dans la largeur totale
}

.delete-message-btn {
  margin-left: auto;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  flex-shrink: 0;
}

.message-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.message-author {
  font-weight: bold;
  color: #fff;
  margin: 0;
}

.message-date {
  color: #bbb;
  font-size: 0.85rem;
  margin: 0;
}

.message-text {
  color: #f1f1f1;
  font-size: 0.95rem;
  margin: 0;
}

.deleteAllMessages {
  margin-top: 10px;
  background-color: #ff6f61;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .message,
  .notification-container {
    width: 90vw;
  }
}
>>>>>>> afe05af085bf6474cb15d6eaf7a64896e5a8f91a
