<<<<<<< HEAD
.rien {
  width: 100%;
  height: 100%;
  background: #000;
}

img {
  width: 100px;
}

p {
  color: #ddd;
  text-align: center;
}

.rien-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
=======
.rien {
  width: 100%;
  height: 100%;
  background: #000;
}

img {
  width: 100px;
}

p {
  color: #ddd;
  text-align: center;
}

.rien-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
>>>>>>> afe05af085bf6474cb15d6eaf7a64896e5a8f91a
