<div class="change-container">
    <h1>Tu veux changer ton mot de passe {{ username }}, alors dis moi quelle est ton nouveau mot de passe</h1>
    <form class="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Nouveau mot de passe :</label>
            <input type="password" name="password" id="password" class="input-field" [(ngModel)]="password"
                placeholder="Entrez votre nouveau mot de passe">
        </div>

        <button type="submit" class="submit-btn">Changer !</button>
    </form>
    <p class="back-link">
        J'ai changé d'avis : <a routerLink="/user">Retourner à la page d'accueil</a>
    </p>
</div>