/* You can add global styles to this file, and also import other style files */
/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #1f1f1f;
  /* Couleur de fond sombre */
  color: #fff;
  /* Couleur du texte clair */
  margin: 0;
  padding: 0;
}
html,
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  scrollbar-width: none;
}
