.miammi {
  display: flex;
  align-items: flex-start; /* Aligne le formulaire avec l'image */
  width: 100%; /* Permet au conteneur de prendre toute la largeur disponible */
  max-width: 600px; /* Limite la largeur maximale du conteneur */
  margin: 0 auto; /* Centre le conteneur */
  box-sizing: border-box; /* Inclut le padding et les bordures dans la largeur totale */
}

img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px; /* Espace entre l'image et le formulaire */
}

form {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espace entre le textarea et le bouton */
  margin-top: 20px; /* Décalage du formulaire vers le bas */
}

textarea {
  width: 100%; /* Prend toute la largeur disponible */
  height: 300px;
  color: #f1f1f1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  resize: none; /* Désactive le redimensionnement */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px; /* Décalage du textarea vers le bas */
  background: transparent; /* Arrière-plan transparent */
}

button {
  align-self: flex-end; /* Place le bouton à droite */
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #45a049; /* Change la couleur au survol */
  }
}

/* Media Queries pour la réactivité */
@media (max-width: 900px) {
  .miammi {
    img {
      width: 40px;
      margin-right: 5px; /* Réduit l'espace entre l'image et le formulaire */
    }

    form {
      textarea {
        width: 90%; /* Réduit la largeur du textarea sur les petits écrans */
      }

      button {
        align-self: flex-start; /* Place le bouton à gauche sur les petits écrans */
      }
    }
  }
}

@media (max-width: 500px) {
  .miammi {
    flex-direction: column; /* Change l'orientation pour les très petits écrans */
    align-items: center; /* Centre les éléments */
    text-align: center; /* Centre le texte */

    img {
      margin-bottom: 10px; /* Ajoute un espace en bas de l'image */
    }

    form {
      width: 100%; /* Le formulaire prend toute la largeur */
      margin-top: 5px;
    }

    textarea {
      margin-top: 0;
    }
  }
}
