.loader {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    position: absolute;
    width: 15px;
    height: 15px;
    background: #00ff0a;
    border-radius: 50%;
    transform: rotate(calc(45deg * var(--i))) translateX(40px);
    animation: spin 1s linear infinite;
    animation-delay: calc(0.1s * var(--i));
  }
}

@keyframes spin {
  0% {
    transform: rotate(calc(45deg * var(--i))) translateX(40px);
  }
  50% {
    transform: rotate(calc(45deg * var(--i))) translateX(50px);
    background: #ff0000;
  }
  100% {
    transform: rotate(calc(45deg * var(--i))) translateX(40px);
  }
}
