name: Deploy to VPS

on:
  push:
    branches:
      - main
  workflow_dispatch:  
jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Deploy application
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          script: |
            cd /home/vps/miamdv
            git pull origin main
            docker compose pull
            docker compose up -d --build
